*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}

.home-header{
  width: 100%;
  padding: 20px 10px;
  background-color: #054A91;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 3rem;
}

.home-main{
  padding-top: 12.5rem;
  color: #054A91;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 10px;
}

.home-main h1{
  font-size: 8vh;
}

.home-main p{
  font-size: 3vh;
  margin-top: 20px;
}

.home-main button{
  width: 10%;
  font-size: 20px;
  background-color: #054A91;
  color: whitesmoke;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.2s ease;
  margin-top: 30px;
}

.navbar{
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.nav-btn{
  background-color: whitesmoke;
  color: #054A91;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.2s ease;
}

.product-list{
  padding-top: 5px;
  display: grid;
  grid-template-columns: repeat(4, 400px);
  grid-template-rows: repeat(2, 400px);
  justify-self: center;
  gap: 10px;
}

.product{
  display: grid;
  grid-template-rows: 3 100px;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 4px 8px #00000040;
  color: #054A91;
  padding: 20px;
}

.product>h2{
  display: flex;
  justify-items: center;
  align-items: center;
}

.product-details{
  display: flex;
  flex-flow: wrap column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.product img{
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.product input{
  width: 10%;
}

.buttons-list, .cartItem-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}


.buttons, input{
  box-shadow: inset 0px 0px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #054A91;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

.buttons{
  padding: 5px 15px;
}

.buttons-list input{
  height: 27px;
}

.cart-container{
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 10px 10px 0 10px;
  margin: 10px;
  color: #054A91;
}

.cart-item-container{
  display: flex;
  flex-flow: wrap column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding:10px 0 20px 5px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
}

.cartItem-details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  box-sizing: border-box;
  padding-right: 20px;
}

.cartItem{
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cartItem img{
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.checkout{
  display: flex;
  flex-flow: wrap column;
  align-items: flex-start;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px 10px;
  margin-left: 10px;
  gap: 20px;
}

